<a href="https://colab.research.google.com/github/szymbor2/ATMS-597-SP-2020/blob/master/ATMS-597-SP-2020-Project-1/examples/examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ATMS 597 Project 1

## Background

### First, mount drive and import <i>TempConvert</i> library.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
from tempconvert import TempConvert
import numpy as np

### TempConvert offers the functionality to convert any temperature into units of Celsius, Fahrenheit, or Kelvin. Run the cell below to learn more about the input unit types and syntax.

In [0]:
TempConvert?

### TempConvert calls in two arguments followed by <i>.to()</i> in order convert the temperature.

## Using different input types.

### First, we will try with an int, float, and string.

In [13]:
# int
t_i = TempConvert(10, 'degF').to('degC')
print(t_i)

-12.222222222222223

In [14]:
# float
t_f = TempConvert(10.0, 'degF').to('degC')
print(t_f)

-12.222222222222223

In [15]:
# string
t_s = TempConvert('10', 'degF').to('degC')
print(t_s)

-12.222222222222223

### Now, let's try with a group of numbers using nd.array and lists.

In [18]:
# nd.array
input_array = np.array([10, 20, 30, 40])
t_array = TempConvert(input_array, 'degF').to('degC')
print(t_array)

[-12.22222222  -6.66666667  -1.11111111   4.44444444]

In [19]:
# list
input_list = [10, 20, 30, 40]
t_list = TempConvert(input_list, 'degF').to('degC')
print(t_list)

[-12.222222222222223, -6.666666666666667, -1.1111111111111112, 4.444444444444445]

## Converting to different temperature units.

### Here are some examples converting to Fahrenheit.

In [25]:
x = TempConvert(0, 'degC').to('degF')
print(x)

y = TempConvert(260, 'K').to('F')
print(y)

32.0
8.330000000000041

### Here are some examples converting to Celsius.

In [26]:
x = TempConvert(32, 'F').to('degC')
print(x)

y = TempConvert(360, 'K').to('c')
print(y)

0.0
86.85000000000002

### Here are some examples converting to Kelvin.

In [29]:
x = TempConvert(100, 'f').to('K')
print(x)

y = TempConvert(300, 'K').to('k')
print(y)

<bound method TempConvert._f2k of <tempconvert.TempConvert object at 0x7f7d8eb9f080>>
300